<div class="t-container">
    <div class="roundHeaders">
        <h4 class="round-header">Round 16</h4>
        <h4 class="round-header">Quarter-Finals</h4>
        <h4 class="round-header">Semi-Finals</h4>
        <h4 class="round-header">Finals</h4>
        <h4 class="round-header">Champion</h4>
    </div>
    <div class="t-brackets">
        <ul class="bracket-card bracket-1">
            <li class="card text-bg-dark mb-3" style="max-width: 18rem;">
                <p class="teamId">
                    <!-- <%= tournament.teams.split(',')[0] %> -->
                    <% if (teams.length > 0){ %>
                        <%= teams[0].name%>
                     <% } %>
                </p>
                <p class="score">
                    <input type="number" id="team-score" name="score1" min="0" max="99" placeholder="0" value= <% if (teams.length > 0){ %><%= teams[0].score %><% } %>>
                    - 
                    <input type="number" id="team-score" name="score2" min="0" max="99" placeholder="0" value=<% if (teams.length > 1){ %><%= teams[1].score %><% } %>>
                </p>
                <p class="teamId">
                    <!-- <%= tournament.teams.split(',')[1] %> -->
                    <% if (teams.length > 1){ %>
                        <%= teams[1].name %>
                     <% } %>
                </p>
            </li>
            <li class="card text-bg-dark mb-3" style="max-width: 18rem;">
                <p class="teamId">
                    <!-- <%= tournament.teams.split(',')[2] %> -->
                    <% if (teams.length > 2){ %>
                        <%= teams[2].name %>
                     <% } %>
                </p>
                <p class="score">
                <p class="score">
                    <input type="number" id="team-score" name="score3" min="0" max="99" placeholder="0" value= <% if (teams.length > 2){ %><%= teams[2].score %><% } %>> 
                    - 
                    <input type="number" id="team-score" name="score4" min="0" max="99" placeholder="0" value= <% if (teams.length > 3){ %><%= teams[3].score %><% } %>>
                </p>
                </p>
                <p class="teamId">
                    <!-- <%= tournament.teams.split(',')[3] %> -->
                    <% if (teams.length > 3){ %>
                        <%= teams[3].name %>
                     <% } %>
                </p>
            </li>
            <li class="card text-bg-dark mb-3" style="max-width: 18rem;">
                <p class="teamId">
                    <!-- <%= tournament.teams.split(',')[4] %> -->
                    <% if (teams.length > 4){ %>
                        <%= teams[4].name %>
                     <% } %>
                </p>
                <p class="score">
                <p class="score">
                    <input type="number" id="team-score" name="score5" min="0" max="99" placeholder="0" value= <% if (teams.length > 4){ %><%= teams[4].score %><% } %>>
                    - 
                    <input type="number" id="team-score" name="score6" min="0" max="99" placeholder="0" value= <% if (teams.length > 5){ %><%= teams[5].score %><% } %>>
                </p>
                </p>
                <p class="teamId">
                    <!-- <%= tournament.teams.split(',')[5] %> -->
                    <% if (teams.length > 5){ %>
                        <%= teams[5].name %>
                     <% } %>
                </p>
            </li>
            <li class="card text-bg-dark mb-3" style="max-width: 18rem;">
                <p class="teamId">
                    <!-- <%= tournament.teams.split(',')[6] %> -->
                    <% if (teams.length > 6){ %>
                        <%= teams[6].name %>
                     <% } %>
                </p>
                <p class="score">
                <p class="score">
                    <input type="number" id="team-score" name="score7" min="0" max="99" placeholder="0" value= <% if (teams.length > 6){ %><%= teams[6].score %><% } %>>
                    -
                    <input type="number" id="team-score" name="score8" min="0" max="99" placeholder="0" value= <% if (teams.length > 7){ %><%= teams[7].score %><% } %>>
                </p>
                </p>
                <p class="teamId">
                    <!-- <%= tournament.teams.split(',')[7] %> -->
                    <% if (teams.length > 7){ %>
                        <%= teams[7].name %>
                     <% } %>
                </p>
            </li>
            <li class="card text-bg-dark mb-3" style="max-width: 18rem;">
                <p class="teamId">
                    <!-- <%= tournament.teams.split(',')[8] %> -->
                    <% if (teams.length > 8){ %>
                        <%= teams[8].name %>
                     <% } %>
                </p>
                <p class="score">
                <p class="score">
                    <input type="number" id="team-score" name="score9" min="0" max="99" placeholder="0" value= <% if (teams.length > 8){ %><%= teams[8].score %><% } %>>
                    - 
                    <input type="number" id="team-score" name="score10" min="0" max="99" placeholder="0" value= <% if (teams.length > 9){ %><%= teams[9].score %><% } %>>
                </p>
                </p>
                <p class="teamId">
                    <!-- <%= tournament.teams.split(',')[9] %> -->
                    <% if (teams.length > 9){ %>
                        <%= teams[9].name %>
                     <% } %>
                </p>
            <li class="card text-bg-dark mb-3" style="max-width: 18rem;">
                <p class="teamId">
                    <!-- <%= tournament.teams.split(',')[10] %> -->
                    <% if (teams.length > 10){ %>
                        <%= teams[10].name %>
                     <% } %>
                </p>
                <p class="score">
                <p class="score">
                    <input type="number" id="team-score" name="score11" min="0" max="99" placeholder="0" value= <% if (teams.length > 10){ %><%= teams[10].score %><% } %>>
                    - 
                    <input type="number" id="team-score" name="score12" min="0" max="99" placeholder="0" value= <% if (teams.length > 11){ %><%= teams[11].score %><% } %>>
                </p>
                </p>
                <p class="teamId">
                    <!-- <%= tournament.teams.split(',')[11] %> -->
                    <% if (teams.length > 11){ %>
                        <%= teams[11].name %>
                     <% } %>
                </p>
            </li>
            <li class="card text-bg-dark mb-3" style="max-width: 18rem;">
                <p class="teamId">
                    <!-- <%= tournament.teams.split(',')[12] %> -->
                    <% if (teams.length > 12){ %>
                        <%= teams[12].name %>
                     <% } %>
                </p>
                <p class="score">
                <p class="score">
                    <input type="number" id="team-score" name="score13" min="0" max="99" placeholder="0" value= <% if (teams.length > 12){ %><%= teams[12].score %><% } %>>
                    - 
                    <input type="number" id="team-score" name="score14" min="0" max="99" placeholder="0" value= <% if (teams.length > 13){ %><%= teams[13].score %><% } %>>
                </p>
                </p>
                <p class="teamId">
                    <!-- <%= tournament.teams.split(',')[13] %> -->
                    <% if (teams.length > 13){ %>
                        <%= teams[13].name %>
                     <% } %>
                </p>
            </li>
            <li class="card text-bg-dark mb-3" style="max-width: 18rem;">
                <p class="teamId">
                    <!-- <%= tournament.teams.split(',')[14] %> -->
                    <% if (teams.length > 14){ %>
                        <%= teams[14].name %>
                     <% } %>
                </p>
                <p class="score">
                <p class="score">
                    <input type="number" id="team-score" name="score15" min="0" max="99" placeholder="0" value= <% if (teams.length > 14){ %><%= teams[14].score %><% } %>>
                    - 
                    <input type="number" id="team-score" name="score16" min="0" max="99" placeholder="0" value= <% if (teams.length > 15){ %><%= teams[15].score %><% } %>>
                </p>
                </p>
                <p class="teamId">
                    <!-- <%= tournament.teams.split(',')[15] %> -->
                    <% if (teams.length > 15){ %>
                        <%= teams[15].name %>
                     <% } %>
                </p>
            </li>

        </ul>
        <ul class="bracket-card bracket-2">
            <li class="card text-bg-dark mb-3" style="max-width: 18rem;">
                <p class="teamId">TBA</p>
                <p class="score">
                <p class="score"><input type="number" id="team-score" name="score" min="0" max="99" placeholder="0
                    ">
                    - <input type="number" id="team-score" name="score" min="0" max="99" placeholder="0">
                </p>
                </p>
                <p class="teamId">TBA</p>
            </li>
            <li class="card text-bg-dark mb-3" style="max-width: 18rem;">
                <p class="teamId">TBA</p>
                <p class="score">
                <p class="score"><input type="number" id="team-score" name="score" min="0" max="99" placeholder="0
                    ">
                    - <input type="number" id="team-score" name="score" min="0" max="99" placeholder="0">
                </p>
                </p>
                <p class="teamId">TBA</p>
            </li>
            <li class="card text-bg-dark mb-3" style="max-width: 18rem;">
                <p class="teamId">TBA</p>
                <p class="score">
                <p class="score"><input type="number" id="team-score" name="score" min="0" max="99" placeholder="0
                    ">
                    - <input type="number" id="team-score" name="score" min="0" max="99" placeholder="0">
                </p>
                </p>
                <p class="teamId">TBA</p>
            </li>
            <li class="card text-bg-dark mb-3" style="max-width: 18rem;">
                <p class="teamId">TBA</p>
                <p class="score">
                <p class="score"><input type="number" id="team-score" name="score" min="0" max="99" placeholder="0
                    ">
                    - <input type="number" id="team-score" name="score" min="0" max="99" placeholder="0">
                </p>
                </p>
                <p class="teamId">TBA</p>
            </li>
        </ul>
        <ul class="bracket-card bracket-3">
            <li class="card text-bg-dark mb-3" style="max-width: 18rem;">
                <p class="teamId">TBA</p>
                <p class="score">
                <p class="score"><input type="number" id="team-score" name="score" min="0" max="99" placeholder="0
                    ">
                    - <input type="number" id="team-score" name="score" min="0" max="99" placeholder="0">
                </p>
                </p>
                <p class="teamId">TBA</p>
            </li>
            <li class="card text-bg-dark mb-3" style="max-width: 18rem;">
                <p class="teamId">TBA</p>
                <p class="score">
                <p class="score"><input type="number" id="team-score" name="score" min="0" max="99" placeholder="0
                    ">
                    - <input type="number" id="team-score" name="score" min="0" max="99" placeholder="0">
                </p>
                </p>
                <p class="teamId">TBA</p>
            </li>
        </ul>
        <ul class="bracket-card bracket-4">
            <li class="card text-bg-dark mb-3" style="max-width: 18rem;">
                <p class="teamId">TBA</p>
                <p class="score">
                <p class="score"><input type="number" id="team-score" name="score" min="0" max="99" placeholder="0
                    ">
                    - <input type="number" id="team-score" name="score" min="0" max="99" placeholder="0">
                </p>
                </p>
                <p class="teamId">TBA</p>
            </li>
        </ul>
        <ul class="bracket-card bracket-5">
            <li class="card text-white bg-warning mb-3" style="max-width: 18rem;">
                <p class="teamId">TBA</p>

            </li>
        </ul>
    </div>
</div>
<script>
    function scoreFunction() {
        
    }
</script>